<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title th:text="#{checkout.pfs}">Overseas Delivery Service</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link href="/css/kakaoAPI.css" rel="stylesheet" type="text/css"/>
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

</head>
<style>
  @font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  * {
    font-family: 'Chosunilbo_myungjo', sans-serif;
  }
</style>
<body>
<main class="d-flex flex-column user-select-none vh-100">
  <div class="w-75 mx-auto mt-5">
    <div class="card">
      <div class="card-header text-center fs-3">
        <i class="fa-solid fa-truck-fast"></i>
        <p class="fw-bold" th:text="#{checkout}">CheckOut</p>
      </div>
      <div class="card-body">
        <form th:action="@{/order/overseas}" th:object="${pfs}" method="post"
              class="container w-75 mt-5 d-flex flex-column">
          <div class="d-flex justify-content-between gap-2">
            <div class="w-50">
              <div class="card card-header mb-3 rounded-3">
                <h3 class="gap-2 my-2 text-center" style="white-space: nowrap" th:text="#{checkout.information}">기본 정보</h3>
              </div>
              <div class="form-floating mb-3">
                <input type="text" th:field="*{DTO.firstName}" th:errorclass="is-invalid" class="form-control" placeholder="firstName"
                       id="firstName">
                <label for="firstName" th:text="#{firstName}">First name</label>
                <div class="invalid-feedback" th:errors="*{DTO.firstName}"></div>
              </div>
              <div class="form-floating mb-3">
                <input type="text" th:field="*{DTO.lastName}" th:errorclass="is-invalid" class="form-control" placeholder="lastName" id="lastName">
                <label for="lastName" th:text="#{lastName}">Last name</label>
                <div class="invalid-feedback" th:errors="*{DTO.lastName}"></div>
              </div>
            </div>
            <div class="w-50 d-flex flex-column">
              <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                        th:field="*{weightCategory}" th:errorclass="is-invalid">
                  <option selected value="" th:text="#{checkout.pfs.choose}">무게를 선택해주세요</option>
                  <option th:each="w : ${weightCategoryValues}"
                          th:value="${w.name()}"
                          th:text="${w.name()}"></option>
                </select>
                <label for="floatingSelect" th:text="#{checkout.pfs.cargoWeight}">화물 무게</label>
                <div class="invalid-feedback" th:errors="*{weightCategory}"></div>
              </div>
              <div class="text-center mt-2">
                <table class="table table-sm">
                  <thead>
                  <tr>
                    <th scope="col" th:text="#{checkout.pfs.weight}">Weight</th>
                    <th scope="col" th:text="#{checkout.pfs.price}">Price</th>
                    <th scope="col" th:text="#{checkout.pfs.time}">Delivery Time</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0~5kg</td>
                    <td>8000</td>
                    <td th:text="#{checkout.pfs.time.detail}">5days</td>
                  </tr>
                  <tr>
                    <td>5~20kg</td>
                    <td>10000</td>
                    <td th:text="#{checkout.pfs.time.detail}">5days</td>
                  </tr>
                  <tr>
                    <td>20kg+</td>
                    <td>20000</td>
                    <td th:text="#{checkout.pfs.time.detail}">5days</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <div class="form-floating">
              <input type="text" th:field="*{DTO.email}" class="form-control" placeholder="email" id="email" th:errorclass="is-invalid" readonly>
              <label for="email" th:text="#{email}">Email</label>
            </div>
          </div>
          <div th:errors="*{DTO.email}" class="invalid-feedback"></div>
          <div class="d-flex justify-content-between gap-2 mb-3">
            <div class="w-50 form-floating">
              <input type="text" th:field="*{DTO.address}" class="form-control" placeholder="address" id="address"
                     readonly data-bs-toggle="modal" data-bs-target="#mapModal" th:errorclass="is-invalid">
              <label for="address" th:text="#{checkout.address}">Address</label>
                <div class="invalid-feedback" th:errors="*{DTO.address}"></div>
            </div>
            <div class="w-50 form-floating">
              <input type="text" th:field="*{DTO.address2}" class="form-control" placeholder="address2" id="address2">
              <label for="address2" th:text="#{checkout.address2}">Address2 (Optional)</label>
            </div>
            <input type="hidden" th:field="*{DTO.xAddress}" id="xAddress">
            <input type="hidden" th:field="*{DTO.yAddress}" id="yAddress">
          </div>
          <div class="d-flex mb-5">
            <div class="form-floating w-100 gap-2">
              <input type="text" th:field="*{trackingNumber}" th:errorclass="is-invalid" class="form-control" placeholder="trackingNumber" id="trackingNumber">
              <label for="trackingNumber" th:text="#{checkout.pfs.trackingNumber}">TrackingNumber</label>
              <div th:errors="*{trackingNumber}" class="invalid-feedback"></div>
            </div>
          </div>


          <div class="card card-header mb-3 rounded-3">
            <h3 class="text-center pt-2" th:text="#{checkout.payment}">결제 수단</h3>
          </div>

          <div class="d-flex justify-content-between gap-2 mb-5">
            <div class="w-25">
              <div class="form-check" th:each="p : ${paymentValues}">
                <input class="form-check-input" type="radio" th:field="*{DTO.payment.type}" th:value="${p.name()}"
                       th:id="__${p.name()}__radio" th:errorclass="is-invalid">
                <label class="form-check-label" th:for="__${p.name()}__radio" th:text="${p.name()}"></label>
              </div>
              <div class="invalid-feedback" th:errors="*{DTO.payment.type}"></div>
            </div>
            <div class="w-75 d-flex flex-column">
              <div class="form-floating mb-3">
                <input class="form-control" id="cardNumber" type="text" th:field="*{DTO.payment.number}" placeholder="Card Number" th:errorclass="is-invalid">
                <label for="cardNumber" th:text="#{checkout.payment.creditCard}">Card Number</label>
                <div class="invalid-feedback" th:errors="*{DTO.payment.number}"></div>
              </div>
              <div class="gap-2 d-flex justify-content-between">
                <div class="w-50 form-floating">
                  <input class="form-control" id="expireDate" type="text" th:field="*{DTO.payment.expireDate}" placeholder="expireDate" th:errorclass="is-invalid">
                  <label for="expireDate" th:text="#{checkout.payment.expiration}">Expire Date</label>
                  <div class="invalid-feedback" th:errors="*{DTO.payment.expireDate}"></div>
                </div>
                <div class="w-50 form-floating">
                  <input class="form-control" id="CVV" type="text" th:field="*{DTO.payment.CVV}" placeholder="CVV" th:errorclass="is-invalid">
                  <label for="CVV">CVV</label>
                  <div class="invalid-feedback" th:errors="*{DTO.payment.CVV}"></div>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn btn-lg btn-primary w-75 my-3 mb-5 mx-auto" th:text="#{submit}">제출</button>
        </form>
      </div>
    </div>
  </div>
  <div id="mapModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" th:text="#{checkout.search.address}">주소 검색</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center">
          <label for="keyword"></label>
          <input type="text" id="keyword" class="w-75 mx-auto" placeholder="Search Place"/>
        </div>
        <div id="modalMapContainer" class="modal-footer map-wrap" style="width:100%;height:600px;position:relative;overflow:hidden;"></div>
        <div id="menu-wrap">
          <div class="option">
            <div>
              <ul id="placesList"></ul>
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=79e2af58c37660b514b3aa8c1ee14d43&libraries=services,clusterer,drawing"></script>
<script th:inline="javascript">
  const mapModal = document.getElementById('mapModal');
  const modalMapContainer = document.getElementById('modalMapContainer');
  let mapOption = {
    center: new kakao.maps.LatLng(33.450701, 126.570667),
    level: 3
  };

  const msgKeyword = /*[[#{alert.keyword}]]*/ '';
  const msgNoResult = /*[[#{alert.noResult}]]*/ '';
  const msgError = /*[[#{alert.error}]]*/ '';

  let map = new kakao.maps.Map(modalMapContainer, mapOption);
  let ps = new kakao.maps.services.Places();
  let infoWindow = new kakao.maps.InfoWindow({zIndex: 1});

  let markers = [];

  document.addEventListener('DOMContentLoaded', () => {
    new bootstrap.Modal(mapModal, {
      keyboard : false
    });
  });

  document.getElementById('mapModal').addEventListener('shown.bs.modal', function (e) {
    document.getElementById('keyword').focus();
  });

  document.getElementById('keyword').addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      searchPlaces();
    }
  });

  document.getElementById('mapModal').addEventListener('shown.bs.modal', function (e) {
    map.relayout();
    map.setCenter(new kakao.maps.LatLng(37.5665, 126.9780)); // 원하는 중심 좌표로 설정
  });


  function searchPlaces() {
    let keyword = document.getElementById('keyword').value;
    if (!keyword.replace(/^\s+|\s+$/g, '')) {
      alert(msgKeyword);
      return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB);
  }

  function placesSearchCB(data, status, pagination) {
    if (status === kakao.maps.services.Status.OK) {
      displayPlaces(data);
      displayPagination(pagination);
    } else if (status === kakao.maps.services.Status.ZERO_RESULTS) {
      alert(msgNoResult);
    } else if (status === kakao.maps.services.Status.ERROR) {
      alert(msgError);
    }
  }

  function displayPlaces(places){
    let listEl = document.getElementById('placesList'),
            menuEl = document.getElementById('menu_wrap'),
            fragment = document.createDocumentFragment(),
            bounds = new kakao.maps.LatLngBounds(),
            listStr = '';

    removeAllChildNodes(listEl);

    removeMarker();

    for (let i = 0; i < places.length; i++) {
      let placePosition = new kakao.maps.LatLng(places[i].y, places[i].x),
              marker = addMarker(placePosition, i),
              itemEl = getListItem(i, places[i]);

      bounds.extend(placePosition);

      (function(marker, title) {
        kakao.maps.event.addListener(marker, 'mouseover', function() {
          displayInfowindow(marker, title);
        });

        kakao.maps.event.addListener(marker, 'mouseout', function() {
          infowindow.close();
        });

        itemEl.onmouseover =  function () {
          displayInfowindow(marker, title);
        };

        itemEl.onmouseout =  function () {
          infowindow.close();
        };
      })(marker, places[i].place_name);

      fragment.appendChild(itemEl);
    }

    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    map.setBounds(bounds);
  }

  function getListItem(index, places){
    let el = document.createElement('li'),
            itemStr = '<span class="markerbg marker_' + (index+1) + '"></span>' +
                    '<div class="info">' +
                    '   <h5>' + places.place_name + '</h5>';

    if (places.road_address_name) {
      itemStr += '    <span>' + places.road_address_name + '</span>' +
              '   <span class="jibun gray">' +  places.address_name  + '</span>';
    } else {
      itemStr += '    <span>' +  places.address_name  + '</span>';
    }

    itemStr += '  <span class="tel">' + places.phone  + '</span>' +
            '</div>';

    el.innerHTML = itemStr;
    el.className = 'item';
    el.addEventListener('click', function () {
      let address = places.road_address_name ? places.road_address_name : places.address_name;
      document.getElementById('address').value = address;
      mapModal.querySelector('.btn-close').click();
      document.getElementById('xAddress').value = places.x;
      document.getElementById('yAddress').value = places.y;
    });

    return el;
  }

  // 마커를 생성하고 지도 위에 마커를 표시하는 함수입니다
  function addMarker(position, idx, title) {
    let imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png', // 마커 이미지 url, 스프라이트 이미지를 씁니다
            imageSize = new kakao.maps.Size(36, 37),  // 마커 이미지의 크기
            imgOptions =  {
              spriteSize : new kakao.maps.Size(36, 691), // 스프라이트 이미지의 크기
              spriteOrigin : new kakao.maps.Point(0, (idx*46)+10), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
              offset: new kakao.maps.Point(13, 37) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
            },
            markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize, imgOptions),
            marker = new kakao.maps.Marker({
              position: position, // 마커의 위치
              image: markerImage
            });

    marker.setMap(map); // 지도 위에 마커를 표출합니다
    markers.push(marker);  // 배열에 생성된 마커를 추가합니다

    return marker;
  }

  // 지도 위에 표시되고 있는 마커를 모두 제거합니다
  function removeMarker() {
    for ( var i = 0; i < markers.length; i++ ) {
      markers[i].setMap(null);
    }
    markers = [];
  }

  // 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
  function displayPagination(pagination) {
    let paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i;

    // 기존에 추가된 페이지번호를 삭제합니다
    while (paginationEl.hasChildNodes()) {
      paginationEl.removeChild (paginationEl.lastChild);
    }

    for (i=1; i<=pagination.last; i++) {
      let el = document.createElement('a');
      el.href = "#";
      el.innerHTML = i;

      if (i===pagination.current) {
        el.className = 'on';
      } else {
        el.onclick = (function(i) {
          return function() {
            pagination.gotoPage(i);
          }
        })(i);
      }

      fragment.appendChild(el);
    }
    paginationEl.appendChild(fragment);
  }

  function displayInfowindow(marker, title) {
    const content = '<div style="padding:5px;z-index:1;">' + title + '</div>';

    infowindow.setContent(content);
    infowindow.open(map, marker);
  }

  function removeAllChildNodes(el) {
    while (el.hasChildNodes()) {
      el.removeChild (el.lastChild);
    }
  }


</script>
</body>
</html>